*.elc
*.cache

.lsp-session-v1
.org-id-locations
places
projectile-bookmarks.eld
recentf
savehist
srecode-map.el
tramp

/.cache/
/auto-save-list/
/backups/
/elpa/
/server/
/transient/
/straight/build-cache.el
/straight/build/
/straight/links/
/straight/repos/
